<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VokemonS</title>

    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->

<body>
    <header class="nav-container">
            <a href="home.html" class="logo">VokemonS</a>
        <nav class="navbar">
            <a href="home.html" class="underline">HOME</a>
            <a href="news.html">NEWS</a>
            <a href="pokemon.html">VOKEMON</a>
            <a href="tournament.html">TOURNAMENT</a>
        </nav>
        
        <div class="navbar-resp">
            <a href="#" class="register">REGISTER</a>
            <label for="" class="icon-menu">
                    <i class='bx bx-menu' menu-dropdown></i>
            </label>
        </div>

    </header>

<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->
<!-- TITLE CONTENT -->

    <section>
        <div class="title-container">
            <video src="/videos/Underwater Pokémon Battle.mp4" autoplay muted loop
            width="100%" height="auto"></video>
            <p class="big-title">VokemonS</p>
            <p class="small-title">Gotta Catch 'em All!</p>
            <a href="#" class="btn">PLAY FOR FREE</a>
        </div>

        <div class="black-shadow-hr-abs"></div>

<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->
<!-- CONTENT -->

        <div class="content-container">
            <img src="/wallpaper/pokemonwp7.jpg" 
            class="bg-wallpaper"
            width="100%" height="100%"
            alt="wp">

            <h1 class="content-container-header">LATEST NEWS</h1>
            <div class="img-content-container">
                TOURNAMENT
                <a href="tournament.html">
                <img src="/images/pokemontourney.jpg" class="img-content"
                height="200px" width="300px" 
                alt="VokemonS Tournament">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi sapiente nemo sed magnam quae. Sed, temporibus, aspernatur enim maxime optio similique iure dolorum suscipit sint nisi facere aperiam distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eveniet commodi possimus consectetur et odio illo nulla quos veniam architecto vitae, doloremque corrupti nostrum repellendus quam harum alias veritatis cupiditate!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, consequuntur sit rerum reiciendis necessitatibus exercitationem molestias asperiores assumenda in deserunt quo voluptates molestiae possimus temporibus magnam obcaecati cum doloremque. Eveniet?</p>
            </div>

            <div class="img-content-container">
                COMMUNITY EVENTS
                <a href="news.html">
                <img src="/images/pokemoncommunity.jpg" class="img-content"
                height="200px" width="300px" 
                alt="VokemonS Community Event">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi sapiente nemo sed magnam quae. Sed, temporibus, aspernatur enim maxime optio similique iure dolorum suscipit sint nisi facere aperiam distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eveniet commodi possimus consectetur et odio illo nulla quos veniam architecto vitae, doloremque corrupti nostrum repellendus quam harum alias veritatis cupiditate!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, consequuntur sit rerum reiciendis necessitatibus exercitationem molestias asperiores assumenda in deserunt quo voluptates molestiae possimus temporibus magnam obcaecati cum doloremque. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, libero eius officia blanditiis in perferendis aliquam excepturi ipsa sunt aspernatur eligendi consequuntur commodi saepe beatae ullam dignissimos autem similique adipisci?</p>
            </div>

            <div class="img-content-container">
                UPDATES
                <a href="news.html">
                <img src="/images/pokemonupdate.jpg" class="img-content"
                height="200px" width="300px" 
                alt="VokemonS Updates">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus nisi sapiente nemo sed magnam quae. Sed, temporibus, aspernatur enim maxime optio similique iure dolorum suscipit sint nisi facere aperiam distinctio. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus eveniet commodi possimus consectetur et odio illo nulla quos veniam architecto vitae, doloremque corrupti nostrum repellendus quam harum alias veritatis cupiditate!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, consequuntur sit rerum reiciendis necessitatibus exercitationem molestias asperiores assumenda in deserunt quo voluptates molestiae possimus temporibus magnam obcaecati cum doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic harum corrupti illum unde distinctio? Assumenda dicta error nostrum distinctio doloremque, laudantium modi voluptatibus, nulla nihil autem quos totam, atque voluptates.</p>
            </div>
        </div>

        
        <div class="black-shadow-hr">
            <h1>I Choose You!</h1>
            <p>Assemble a team of Vokemon with diverse abilities and powers. Your choices will shape your destiny as you train and evolve them into powerful companions.</p>
        </div>

<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->
<!-- VOKEMON LIST -->

    <div class="vokemons-container">
        <img src="/wallpaper/pokemonwp9.jpg"
        class="bg-wallpaper"
        width="100%" height="auto"
        alt="wp">

        <div class="list-vokemons-header-container">
            <div class="list-vokemons-header">
                <p>There are over 1000 of unique Vokemon species, each with its own abilities, types, and characteristics!</p>
            </div>
        </div>
            
                <div class="img-vokemon-container">
                    <a href="/pages/pokemon.html">
                    <img src="/images/pikachu.png" 
                    class="img-vokemon1"
                    height="200px" width="200px"
                    alt="pikachu">
                    
                    <img src="/images/charizard.png" 
                    class="img-vokemon2"
                    height="200px" width="200px" 
                    alt="charizard">

                    <img src="/images/gengar.png" 
                    class="img-vokemon3"
                    height="200px" width="200px" 
                    alt="gengar">

                    <img src="/images/eevee.png" 
                    class="img-vokemon1"
                    height="200px" width="200px" 
                    alt="eevee">

                    <img src="/images/snorlax.png" 
                    class="img-vokemon2"
                    height="200px" width="200px" 
                    alt="snorlax">

                    <img src="/images/scizor.png" 
                    class="img-vokemon3"
                    height="200px" width="200px" 
                    alt="scizor">

                    <img src="/images/bulbasaur.png" 
                    class="img-vokemon1"
                    height="200px" width="200px"
                    alt="bulbasaur">

                    <img src="/images/charmander.png" 
                    class="img-vokemon2"
                    height="200px" width="200px"
                    alt="charmander">

                    <img src="/images/gyarados.png" 
                    class="img-vokemon3"
                    height="200px" width="200px"
                    alt="gyarados">

                    <img src="/images/jigglypuff.png" 
                    class="img-vokemon1"
                    height="200px" width="200px"
                    alt="jigglypuff">

                    <img src="/images/magikarp.png" 
                    class="img-vokemon2"
                    height="200px" width="200px"
                    alt="magikarp">

                    <img src="/images/lapras.png" 
                    class="img-vokemon3"
                    height="200px" width="200px"
                    alt="lapras">
                </a>
                </div>
    </div>

<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->
<!-- TOURNAMENT -->

    <div class="tournament-container">
        <!-- <img src="/wallpaper/pokemonwp3.jpg"
        class="bg-wallpaper"
        width="100%" height="auto"
        alt=""> -->
        
        <div class="tournament-container-header">
            <h1>Watch the Pros</h1>
            <h2>Join us as we bring you the VokemonS Pro Tournament – the pinnacle of competitive VokemonS battles. Watch world-class Trainers strategize, outwit their rivals, and unleash their most powerful VokemonS in a high-stakes arena!</h2>
        </div>

        <div class="img-tournament-container">
            
            <div class="img-tournament">
                <a href="tournament.html">
                    <img src="/images/tournScreenshot.png"
                    class="img-content"
                    height="300px" width="500px"
                    alt="Pokkén Tournament Seniors Grand Finals - Fruitprime vs Wefroe | Pokémon Worlds 2022">
                </a>
            </div>
            
            <div class="img-tournament">
                <a href="tournament.html">
                    <img src="/images/tournScreenshot (3).png"
                    class="img-content"
                    height="300px" width="500px"
                    alt="VG Day 1 | 2023 Pokémon World Championships">
                </a>
            </div>
            
            <div class="img-tournament">
                <a href="tournament.html">
                    <img src="/images/Screenshot (20).png"
                    class="img-content"
                    height="300px" width="500px"
                    alt="Pokkén Tournament Masters Grand Finals - Shadowcat vs Mewtater | Pokémon Worlds 2022">
                </a>
            </div>
            
            <div class="img-tournament">
                <a href="tournament.html">
                    <img src="/images/Screenshot (19).png"
                    class="img-content"
                    height="300px" width="500px"
                    alt="2022 Pokémon North America International Championships: VGC Master Division Finals">
                </a> 
            </div>
        </div>
        
    </div>

    </section>

<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->

    <footer>

<br>

        <p>&copy; 2023 VokemonS</p>
        <br>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

<br>

        <p class="footer-copyright">VokemonS and the VokemonS logo are trademarks and/or registered trademarks of BINUS Corporation.</p>
        <p class="footer-copyright">2023 BINUS Corporation, all rights reserved.</p>
        
<br>
        

    </footer>

    <link rel="stylesheet" href="/style.css">
</body>


</html>