<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VokemonS | Pokemon Page</title>

    <link rel="stylesheet" href="/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->

<body>
    <header class="nav-container">
        <a href="home.html" class="logo">VokemonS</a>
    <nav class="navbar">
        <a href="home.html">HOME</a>
        <a href="news.html">NEWS</a>
        <a href="pokemon.html" class="underline">VOKEMON</a>
        <a href="tournament.html">TOURNAMENT</a>
    </nav>
    
    <div class="navbar-resp">
        <a href="#" class="register">REGISTER</a>
        <label for="" class="icon-menu">
                <i class='bx bx-menu' menu-dropdown></i>
        </label>
    </div>

</header>

    <img src="/images/websiteunderconstruction.jpg" 
    width="100%"
    alt="maintenance">

    <link rel="stylesheet" href="style.css">

<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->
<!-- FOOTER -->

<footer>

    <br>
    
            <p>&copy; 2023 VokemonS</p>
            <br>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
    
    <br>
    
            <p class="footer-copyright">VokemonS and the VokemonS logo are trademarks and/or registered trademarks of BINUS Corporation.</p>
            <p class="footer-copyright">2023 BINUS Corporation, all rights reserved.</p>
            
    <br>
            
    
        </footer>
        
        <link rel="stylesheet" href="/style.css">
</body>


</html>